* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background-image: url(../images/h_img.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.image {
  text-align: center;
  line-height: 3rem;
  padding-top: 7rem;
  color: white;
}
.mouse {
  text-align: center;
  padding-top: 5rem;
}
