* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  justify-content: center;
}
body {
  font-family: "Roboto", sans-serif;
}
header {
  background-image: url(../images/h_img.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.image {
  text-align: center;
  line-height: 3rem;
  padding-top: 7rem;
  color: white;
}
.mouse {
  text-align: center;
  padding-top: 5rem;
}
.about {
  text-align: center;
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h2 {
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
h4 {
  font-weight: bold;
}
h3 {
  font-weight: 700;
  font-size: 2rem;
}
p1 {
  font-weight: 400;
}
.two {
  background-image: url(../images/s_image.jpg);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.service {
  text-align: center;
  color: white;
  padding-top: 2.2rem;
  line-height: 2rem;
}
.action {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.activity {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
.design {
  text-align: center;
  width: 60%;
}
.development {
  text-align: center;
  width: 60%;
}
.product {
  text-align: center;
  width: 50%;
}
.first-row {
  display: flex;
  justify-content: center;
  align-content: center;
}
.pc-one {
  text-align: center;
  margin: 0.5rem;
}
.six {
  background-image: url(../images/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.contact {
  text-align: center;
  color: white;
  padding-top: 2rem;
}
.form {
  text-align: center;
}
.social-media {
  margin: 1rem;
  text-align: center;
}
.foot-sub {
  text-align: center;
}
